// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$material-dark: (
  'background': #13203e, //#08193b
  'anchor':#e0897b,
  'calendar': (
    'background-color': #13203e,
    'outside-background-color': #23314C,
    'weeknumber-background-color': #13203e,
    'line-color': rgba(255,255,255,0.08),
    /*'interval-color': map-get($grey, 'lighten-3'),
    'interval-line-color': map-get($grey, 'darken-2'),
    'text-color': map-get($shades, 'white'),
    'past-color': rgba(map-get($shades, 'white'), .50)*/
  ),
  'cards':rgba(256,256,256,0.07)
);

$material-light: (
  'background': #f4f5f8
);


$yellow: (
  'base': #ffc107,
  'lighten-5': #fff8e1,
  'lighten-4': #ffecb3,
  'lighten-3': #ffe082,
  'lighten-2': #ffd54f,
  'lighten-1': #ffca28,
  'darken-1': #ffb300,
  'darken-2': #ffa000,
  'darken-3': #ff8f00,
  'darken-4': #ff6f00,
  'accent-1': #ffe57f,
  'accent-2': #ffd740,
  'accent-3': #ffc400,
  'accent-4': #ffab00
);

.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}
