// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$material-dark: (
  'background': #04173B
);

$yellow: (
  'base': #ffc107,
  'lighten-5': #fff8e1,
  'lighten-4': #ffecb3,
  'lighten-3': #ffe082,
  'lighten-2': #ffd54f,
  'lighten-1': #ffca28,
  'darken-1': #ffb300,
  'darken-2': #ffa000,
  'darken-3': #ff8f00,
  'darken-4': #ff6f00,
  'accent-1': #ffe57f,
  'accent-2': #ffd740,
  'accent-3': #ffc400,
  'accent-4': #ffab00
);

.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}
